body {
  font-family: Georgia, serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  color: white;
  margin: 0;
}

h1,h2,.time-stamp {
  font-family: Ubuntu, Futura, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.media {
  min-width: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.media-list {
  margin-top: 0;
}

li.pane {
  margin-bottom: 2em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  margin-bottom: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

li.pane:only-child {
  max-width: 90vm;
}

.pane img {
  width: 100%;
  max-width: 1600px;
  image-rendering: pixelated;
  border-radius: 4px;
}

.entry-meta {
  color: hsl(341, 10%, 20%);
}

.media-caption {
  flex-grow: 1;
  font-size: larger;
  margin-top: 1em;
}

.time-stamp {
  margin-bottom: 1em;
}

.pane video {
  border-radius: 0.5em;
  border-left: 1px solid hsla(30, 14%, 67%, 0.5);
  box-shadow: 2px 2px hsla(30, 5%, 0%, 0.3);
  width: 100%;
}

.text-caption {
  color: #222;
}

.pane a:link {
  color: hsl(341, 10%, 20%);
}

.pane a:visited {
  color: hsl(0, 0%, 20%);
}

a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

.time-stamp a:visited {
  color: hsl(31, 20%, 22.4%);
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

.previous-indexes {
  margin-bottom: 2em;
  font-size: 2em;
  order: 3;
}

.previous-indexes a:link {
  color: white;
  font-weight: bolder;
}

.previous-indexes a:visited {
  color: white;
}

.important-info {
  max-width: 800px;
  min-width: 10em;
  margin-bottom: 1rem;
  font-family: Ubuntu, Futura, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.important-info a {
  text-decoration: underline;
}

@media all and (max-height: 568px) {
  body {
   font-size: 18px;
  }

  .media {
    max-width: 90%;
  }
}
